    <div class="col-md-3">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                   
                    <h5 class="mb-0">{{ request.user.username }}</h5>
                    <small class="text-muted">Blog Author</small>
                </div>
            </div>

  <div class="card shadow-sm">
                <div class="card-header fw-bold">
                    Dashboard Menu
                </div>
                <ul class="list-group list-group-flush">
                    <a href="{% url 'dashboard' %}" class=" list-group-item list-group-item-action {% if '/dashboard/' == request.path %}active-warning {% endif %}">🏠 Dashboard</a>
                    {% if perms.auth.add_user %}
                    <a href="{% url 'user_list' %}" class=" list-group-item list-group-item-action {% if '/users/' in request.path %}active-warning {% endif %}">👥 Users</a>
                    {% endif %}
                    <a href="{% url 'post_list' %}" class="list-group-item list-group-item-action {% if '/posts/' in request.path %}active-warning {% endif %}">📄 My Posts</a>
                    <a href="{% url "category_list" %}" class="list-group-item list-group-item-action {% if '/categories/' in request.path %}active-warning {% endif %}">📂 Categories</a>
                    <a href="{% url 'logout_user' %}" class="list-group-item list-group-item-action text-danger {% if '/logout/' in request.path %}active-warning {% endif %}">🚪 Logout</a>
                </ul>
            </div>
        </div>