{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static "base.css" %}" />
    <link rel="stylesheet" href="{% static "blog.css" %}" />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
 
</head>

<body>
<div class="container">
    <header class="blog-header py-3 inverted-header"
            style="position: sticky; background-color: white; top: 0; z-index: 1000;">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="blog-header-logo text-dark"
                   style="font-size: 150%; font-weight: bold;"
                   href="/">Django Blog</a>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
             <form class="search-box" method="GET" action="{% url "search_results" %}">
                <input 
                    type="text" 
                    name="keyword" 
                    placeholder="Search articles..." 
                    aria-label="Search">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if not user.is_authenticated %}
                <a class="btn btn-sm btn-warning" href="{% url 'login_user' %}" style="font-size: 20px;">Login</a>
                &ensp;
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'register_user' %}" style="font-size: 20px;">Register</a>
                {% else %}
                <p class="btn btn-sm" style="font-size: 20px;"><span class="btn btn-sm user-greeting" style="font-size: 20px;">
                    <a href="{% url 'dashboard' %}" style="text-decoration: none;">
                    <span class="hover-text" data-hover="Dashboard">
                    <span class="original">Hello, <span class="user-name">{{ user }}</span> </span>
                    </span>
                </a>
                </span>
                </p>
                &ensp;
                <a class="btn btn-sm btn-warning" href="{% url 'logout_user' %}" style="font-size: 20px;">Logout</a>
                {% endif %}
            </div>
        </div>
    </header>
   
    {% block content %}{% endblock %}
</div>
</body>
</html>
